.c-text-field-action {
    min-width: 92px;
    height: unset; // Maybe 36px.
    margin-top: 20px;
    position: relative;
    display: block;
    width: 276px;

    // height: 36px;
    // margin-top: 20px;
    // padding: 7px 0;
    // text-indent: 10px;
    // border: 1px solid rgba(0, 0, 0, .6);
    // outline: 0;
    // background: #FFF;

    &.f-inline {
        display: inline-block;
    }

    &.f-flex {
        width: 100%;
        max-width: 100%;
        min-width: 88px;
    }

    &.f-small {
        width: 88px;
    }

    .cc-textbox {
        position: relative;
        outline: 2px solid transparent;
        border: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 7px 38px 7px 10px;
        border: 1px solid rgba(0,0,0,.6);
        background-color: #fff;
        /* float: left;*/

        &:hover {
            border-color: rgba(180, 128, 128, 0.8);
        }

        &:hover, &:focus {
            border-color: #0078D7;
        }

        &[disabled] {
            cursor: not-allowed;
            color: rgba(0, 0, 0, .2);
            border-color: rgba(0, 0, 0, .2)
        }

        &[readonly]{
            border-color: rgba(0, 0, 0, .6);
            background: #e6e6e6;
        }

        &.f-line-style {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, .6);
        }
    }

    .cc-button {
        position: relative;
        border: 2px solid transparent;
        outline: 0;
        position: absolute;
        bottom: unset;
        right: 0;
        width: 34px;
        height: 30px;
        margin: 2px 2px 1px 1px;
        // padding: 9px;
        transition: color .1s, background-color;
        background: #fff;

        &:hover {
            background: #efefef;
            cursor: pointer;
        }

        &:active {
            background: #cfcfcf;
        }

        &:focus {
            outline: 2px dashed currentColor;
        }
    }

    + [class*=c-paragraph] {
        padding-top: 24px;
    }
}