.x-hidden, .f-hide {
	display: none;
}

.x-screen-reader {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
  	left: -9999px;
}

.x-hide-small {
    @include small-screen {
        display: none;
    }
}

.x-hide-medium {
    @include medium-screen {
        display: none;
    }
}